*{
    padding: 0;
    margin: 0;
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;
}
body{
    font-family: montserrat;
    

}
nav{
    background: rgb(0,100,0);
    height: 80px;
    width: 100%;

}
label.logo{
    color: white;
    font-size: 35px;
    line-height: 80px;
    padding: 5%;
    font-weight: bold;

}
nav ul{
    float: right;
    margin-right: 20px;

}
nav ul li{
       display: inline-block;
       line-height: 80px;
       margin: 0 5px;

}
nav ul li a{
    color: white;
    font-size: 17px;
    padding: 7px 13px;
    border-radius: 3px ;
    text-transform: uppercase;

}
a.active,a:hover{
    background: rgb(60, 236, 60);
    transform: .5s;
}
.checkbtn{
    font-size: 30px;
    color: white;
    float: right;
    line-height: 80px;
    margin-right: 40px;
    cursor: pointer;
    display: none;
}
#check{
    display: none;
}
@media (max-width: 952px){
    label.logo{
        font-size: 30px;
        padding-left: 50px;
    }
    nav ul li a{
        font-size: 16px;
    }
}
@media (max-width: 858px){
    .checkbtn{
        display: block;
    }
    ul{
        position: fixed;
        width: 100%;
        height: 100vh;
        background: #07a86b;
        top: 80px;
        left: -100%;
        text-align: center;
        transform: all .5s;
    }
    nav ul li{
        display: block;
        margin: 50px;
        line-height: 30px;

    }
    nav ul li a{
        font-size: 20px;

    }
    a:hover,a.active{
        background: none;
        color: #25ec61;
    }
    #check:checked ~ ul{
        left: 0;

    }
}
.background-image{


    background: url("images\ \(12\).jpg");
    /* background-repeat: no-repeat;
    background-size: cover;
    height: calc(100vh -80px);   */
    background-repeat: no-repeat;
    background-color: #cccccc;
    background-size: 100% 900px;
    background-attachment: fixed;
    height:200px;width:1200px;
    
     /* background-size: 100% 900px; */
}

